* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dirty-white:#f1f0f0;
    --black-gradient: rgba(0, 0, 0, 0.6);
    --font: font-family: 'Bitter', serif;
    --font-style: 'Montserrat Subrayada', sans-serif;
    --biege: #e1c699;
    --border: 2px;

}

a {
    text-decoration: none;
    text-transform: capitalize;
}

button {
    border: none;
    background: none;
    font-size: 1rem;
    letter-spacing: .2ch;
    color:  var(--dirty-white);
    text-transform: uppercase;
}

.nav {
    display: flex;
    gap: 3rem;
    padding: 0 2.5rem 1rem;
    font-size: 1rem;
    background-color: var(--black-gradient);
    width: 100vw;
    justify-content: center;

    border-bottom: var(--border) solid var(--biege);
}

.header p {
    font-family: var(--font-style);
    font-size: 3rem;
    display: flex;
    justify-content: center;
    color: var(--dirty-white);
    background-color: var(--black-gradient);
    width: 100vw;

    padding-top: .5rem;
    padding-bottom: .5rem;
}

#content {
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-image: url(./images/food-front.jpg);
    background-attachment: fixed;
    background-position: center center;

    display: flex;
    flex-direction: column;
    align-items: center;

}
.home p:first-child {
    color: var(--biege);
    font-family: 'Bitter', serif;
    font-size: 3rem;
}

.home p {
    color: var(--dirty-white);
    font-family: var(--font);
    width: 20vw;
}

.home {
    /* make the main content take all the space available */
    display: flex;
    justify-content: center;
    flex-grow: 1; 
    flex-direction: column;
    align-items: center;

    width: 100vw;
    height: 100vh;
    background-color: var(--black-gradient);
}

.footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 1rem;

    background-color: var(--black-gradient);
    width: 100vw;
    color: var(--dirty-white);
    text-transform: uppercase;
    border-top: 2px solid var(--biege);
   
}

.footer p {
    font-size: .8rem;
    letter-spacing: .3ch;
    font-family: sans-serif;
}
