* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dirty-white:#FFFAFA;
    --black-gradient: rgba(0, 0, 0, 0.6);
}


h1 {
    font-family: 'Bitter', serif;
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size: 4rem;
    color: rgb(253, 253, 253);
}

a {
    text-decoration: none;
    text-transform: capitalize;
}

button {
    border: none;
    background: none;
    font-size: 1.3rem;
    color:  var(--dirty-white);
    text-transform: uppercase;
}

.nav {
    display: flex;
    gap: 3rem;
    padding: 2.5rem;
    font-size: 1.5rem;
    background-color: var(--black-gradient);
    width: 100vw;
    justify-content: center;
}

#content {
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-image: url(./images/food-front.jpg);
    background-attachment: fixed;
    background-position: center center;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.main {
    /* make the main content take all the space available */
    flex-grow: 1; 

    width: 100vw;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 2.5rem;
    background-color: var(--black-gradient);
    width: 100vw;
    color: var(--dirty-white);
    text-transform: uppercase;

    
}


